.SearchedGameTile {
  margin-left: auto;
  margin-right: auto;
  width: 232px;
  height: 350px;
  display: grid;
  align-items: center;
  grid-template-rows: 0.1fr 0.4fr 0.2fr 0.5fr;
  background-color: #465357;
  color: aliceblue;
  transition: 0.3s;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.SearchedGameTile:hover {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.95));
}

.Game_Title {
  text-align: center;
}

.Game_Price {
  margin: 0px;
  text-align: center;
}

.Searched_Games_Img,
.Store_Img {
  text-align: center;
  justify-self: center;
}

