.StorePricesInfo {
  filter: drop-shadow(0px 4px 73px rgba(0, 0, 0, 0.25));
  width: 96%;
  height: 98%;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  justify-self: center;
  margin-top: 20px;
  background-color: #424741;
  grid-column: 2;
  grid-row: 1 / 3;
}

.TitleInfoArea {
  display: flex;
  padding: 20px;
  align-items: center;
}

.Info_Title {
  margin: 0px;
  margin-left: 15px;
  justify-content: flex-start;
  color: aliceblue;
  font-weight: 400;
  font-size: 55px;
}

.Windows_platform {
  margin-left: auto;
  height: 100%;
}

.Mac_platform {
  margin-left: 30px;
  height: 100%;
  margin-right: 20px;
}

.go_back_arrow {
  height: 50px;
  transition: 0.43s;
}

.go_back_arrow:hover {
  transform: scale(0.8);
  transform: translateX(-4px);
}

.SalesStoresArea {
    display: grid;
    grid-template-rows: 0.5fr 0.6fr;
}

.Price_Diagram {
    background-color: #213547;
    width: 94%;
    justify-self: center;
    box-shadow: 1px 25px 4px -11px rgba(0, 0, 0, 0.25);
}

.Stores {
    height: 40vh;
    width: 85%;
    justify-self: center;
    align-self: flex-end;
    display: grid;
    align-items: center;
    grid-auto-rows: 0.2fr;
    overflow-y: scroll;
    overflow-x: hidden;
} 